/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6, {
    font-family: 'Lato', sans-serif;
}

span, p {
   font-family: 'Lato', sans-serif;
}

html,
body { 
    height: 100%;
    font-family: 'Lato', sans-serif;

}

a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


/*
html {
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

h2 {
    color: #333;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
*/

/*Header*/
.header-top .container {
	max-width: 1200px;
	padding: 0;
}
.header-login {
	margin-top: 15px;
}
.time-total-cars span {
	font-weight: 700;
}
.since {
	background: #000;
	color: #fff;
	font-size: 11px;
	line-height: 12px;
	border-top: 1px solid #ccc;
}
.since span {
	margin-left: 60px;
	padding: 0;
	margin: 0 0 0px 60px;
}
.btn_login {
	float: left;
    margin-right: 10px;
}
.leng-flag {
	height: 26px;
	width: 120px;
	text-align: center;
	font-size: 12px;
	border: 1px solid #777;
}
.dd .ddTitle .ddTitleText {
	padding: 0px 0px 0px 5px !important;
	font-size: 11px !important;
}
.dd .divider {
	 border-left: 0px solid #c3c3c3 !important;
	border-right: 1px solid #fff;
	right: 24px;
}
.borderRadius {
	-moz-border-radius: 5px;
	border-radius: 0px !important;
}
.ddcommon .ddTitle {
	display: block !important;
}
.email a {
	color: #000;
}
.header-right {
	float: right;
}
.email a span {
	margin-left: 10px;
	font-size: 13px;
}
.leng a img {
	width: 22px;
}
.time-total-cars p {
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.logo {
    top: 0;
    left: 0;
    z-index: 100;
    width: 185px;
    height: 33px;
    background-color: #ffffff;
    margin-left: 0px;
}

.logo a img {
	width: 100%;
}
.time-total-cars {
	text-align: center;
	margin-top: 10px;
}

/*end header*/

/*menu*/

.header-menu.container-fluid {
	background: #4093D5;
	width: 100%;
	height: 48px;
}

/* Reset */
.nav,
.nav a,
.nav ul,
.nav li,
.nav div,
.nav form,
.nav input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.nav a { text-decoration: none; }
 
.nav li { list-style: none; }

/* Menu Container */
.nav {
    display: inline-block;
    position: relative;
    cursor: default;
    z-index: 500;
    float: right;
}
 
/* Menu List */
.nav > li {
    display: block;
    float: left;
}
/* Menu Links */
.nav > li > a {
    position: relative;
    display: block;
    z-index: 510;
    padding: 14px 54px;
    font-weight: bold;
    font-size: 13px;
    color: #fcfcfc;
    text-shadow: 0 0 1px rgba(0,0,0,.35);
 
    background: #4093D5;
    border-left: 1px solid #4b4441;
 
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.nav > li:hover > a { background: #4b4441; }
 
.nav > li:first-child > a {
    border-left: none;
}

/* Menu Dropdown */
.nav > li > div {
    position: absolute;
    display: block;
    width: 100%;
    top: 50px;
    left: 0;
 
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
 
    background: #ffffff;
    border-radius: 0 0 3px 3px;
 
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

.nav > li:hover > div {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}
/* Menu Content Styles */
.nav .nav-column {
    float: left;
    width: 20%;
    padding: 2.5%;
    background: #FFF;
    box-shadow: 0px 0px 5px 1px #ccc;
}
 
.nav .nav-column h3 {
    margin: 20px 0 10px 0;
    line-height: 18px;
    font-weight: bold;
    font-size: 14px;
    color: #372f2b;
    text-transform: uppercase;
}
 
.nav .nav-column h3.orange { color: #ff722b; }
 
.nav .nav-column li a {
    display: block;
    line-height: 26px;
    font-weight: bold;
    font-size: 13px;
    color: #888888;
}
 
.nav .nav-column li a:hover { color: #666666; }

/*end menu */

/*start main area */

.bg{
    background-image: url("../images/main_vusial_bg.jpg");
    background-repeat: repeat-x;
}


.main {
	margin-top: 10px;

}
.main-area .container {
	padding: 0px;
    max-width: 1200px;

}
.detailBox {
	margin-top: 12px;
}
.detailBox p {
	font-size: 21px;
	border: 2px solid #f30909;
    color: #f30909;
    font-weight: 700;
}
.detailBox p span {
	margin: 12px;
}

/*search make*/


.left-sideber dl dd ul li {
	list-style: none;
    padding: 5px 0px 5px 0px;
    margin-left: -40px;
    border-bottom: 1px solid #ccc;
    background: #fff;
}
.search-make dl dt, .search-price dl dt, .search-discount dl dt, .search-year dl dt{
	text-align: center;
	background: #3D3D3D;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	text-transform: capitalize;
}

/*
.left-sideber {
	width: 80%;
}
*/
.left-sideber dl dd ul li a {
	margin: 10px;
    color: #000;
    font-size: 12px;
}
.search-img {
	margin-right: 6px;
}
.left-sideber dl dd ul li:hover {
	background: #FFE2E3;
}
.Search-border {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}



/*mid-area*/

.top-search {
	background: #4093D5;
	color: #fff;
}

#keyword {
	height: 40px;
	border: 1px solid #4093D5;
}
.fa.fa-search {
	margin-left: 20px;
}

/*slider*/

.top-slider {
	border: 1px solid #ddd;
    height: 375px;
}

.carousel-indicators li {
	width: 100px;
	height: 65px;
}
.carousel-indicators {
	bottom: -90px;
}
.slider-img {
	width: 100%;
	height: 100%;
    opacity: 0.5;
}
.slider-img2 {
	width: 100%;
	height: 290px;
}
li.active img{
    opacity: 1;
}

.carousel-control-next, .carousel-control-prev {
	bottom: -50px;
    top: 322px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background: #000;
}
/*end slider*/
.favorites {
	margin-top: 15px;
}
.favorites h2 {
	border-bottom: 2px solid #4093D5;
	padding: 0px 0px 10px 0px;
	text-align: center;
	font-size: 18px;
    font-family: initial;
    color: #4093D5;
}
.favorites p {
	text-align: center;
}
.favorites p a {
	color: #000;
}
/* new must populer area css*/
.most {
	border: 1px solid #ccc;
	padding: 0px 10px;
	margin-top: 10px;
}
.product-img {
	width: 160px;
	height: 135px;
}
.product-img a img {
	width: 100%;
	height: 100%;
}
.row.detail-cl .col-md-3 {
	padding: 0px;
}
.detail {
	margin: 10px 2px;
}
.title span {
	border-left: 2px solid #e10e0e;
	padding: 0 0 0 12px;
	font-size: 16px;
	color: #4093D5;
	text-transform: uppercase;
	font-weight: 700;
}
.title {
	margin: 0px -11px 10px -10px;
	padding: 5px 0 5px 10px;
	border-bottom: 2px solid #bf0b16;
}
.name {
	font-size: 11px;
	font-weight: 700;
}
.model {
	font-size: 12px;
	font-weight: 500;
	color: #000;
    display: block;
}
.price {
	padding: 0 80px 0px 0px;
	font-size: 12px;
    color: #ff1010;
    display: block;
    font-weight: 700;
}
/* end new must populer area css */

/*Customer Testimonials*/

.review {
	border: 1px solid #ccc;
    margin-top: 10px;
    padding-left: 0px;
    margin-bottom: 30px;
}
.cus-testimonials h2 span {
    padding: 0 0 0 13px;
    border-left: 3px solid #de0018;
    font-size: 16px;
    line-height: 18px;
    color: #2b59b6;
}

.cus-testimonials h2 {
    margin: 0 10px 11px 0;
    padding: 0 0 6px 13px;
    border-bottom: 2px solid #bf0b16;
}



.col-center {
    margin: 0 auto;
    float: none !important;
}
.carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.item p {
	padding: 10px 100px 0px 100px;
}
.carousel .overview {   
    font-style: italic;
}
.carousel .overview b {
    text-transform: uppercase;
    color: #7AA641;
}
.carousel .carousel-control {
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}
.carousel-control i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-indicators li {   
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {    
    background: #555;       
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}


/*right-sideber*/

.right-search-title {
	background: #3D3D3D;
	color: #fff;
	text-align: center;
	padding: 3px 24px 12px;
}
.right-search-title p {
	float: right;
	font-size: 20px;
	margin: 0px 88px 0px 0px;
	font-family: initial;
}
.right-search-multi {
	padding: 10px 0px 0px 0px;
   
}
.right-search-multi li {
	list-style: none;
	padding: 12px 0px 5px 10px;
	background: #3D3D3D;
    color: #fff;
}
.search-select {
	width: 256px;
}
#year_f, #year_t {
	width: 116px;
}
input::placeholder {
    font-size: 14px;
}
.sale {
	width: 95%;
    background: #4093D5;
    color: #fff;
}

._2p3a {
	width: 100%;
}





/************************************************************
*************************Footer******************************
*************************************************************/
.list-unstyled.clear-margins li a {
	color: #fff;
}

.footer1 {
    background: #000;
	padding-top: 40px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
    color: #fff;
}



.title-widget {
	color: #898989;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
    
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
	position: relative;
    text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
	width:95%;
    color: #fff;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
}


#social:hover {
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1); 
}
#social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8); 
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}           
/* 
    Only Needed in Multi-Coloured Variation  */
.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}
.nomargin { margin:0px; padding:0px;}





.footer-bottom {
    background-color: #4093D5;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}


/************************************************************
*************************Footer******************************
*************************************************************/




/************************************************************
*************************category Page******************************
*************************************************************/

.breadcrumb {
	padding: 0px;
	margin-bottom: 5px;
	background-color: #FFF;
	border-radius: 0px;
    font-size: 12px;
}
.country-area-left h2 {
	font-size: 18px;
}
.country-area-left p a {
	color: #000;
}
.country-area-left p a:hover {
	color: #4093D5;
}
.top-search-single-car {
	padding: 0px 142px;
}
.country-col{
    padding: 4px;
    
}
.country-area-left p {
	font-size: 14px;
	font-family: initial;
}

/*multi search*/


.Steering-area dl dd ul {
    margin: 13px 0px 0px 25px;
}
.Steering-area dl dd ul li {
	float: left;
	display: inline-block;
	padding: 0px 2px 8px 8px;
	margin-top: -33px;
}
.Steering-area dl dt {
	font-weight: 400;
}
.searchItemTable.table td {
	
    padding: 0px;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    vertical-align: super;
    border-top: none;
}
.multi-search-container{
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    background: #51A4E6;
}
.rrr td {
	margin-top: -34px !important;
}
.sreach-show{
    display: block;
}
ul.speclist{
    display: inline;
}
.speclist li {
	list-style: none;
	float: left;
	padding: 0px 12px;
	background: #D0F0ED;
	margin-left: 3px;
}
.speclist li a {
	font-size: 12px;
	padding: 0px 0px;
}

/* end multi search*/



/*pagination*/

.pagination-container{
    padding: 0px;
    margin-top: 10px;
}
ul.page-num {
    float: left;
    margin-top: -12px;
    margin-bottom: 0px;
}

ul.page-num li {
	list-style: none;
	display: inline-block;
	padding: 2px 5px;
	border: 1px solid #ccc;
}
ul.page-num li a {
	padding: 14px;
    text-decoration: none;
    font-size: 16px;
}
 p.carlist_select select#sort {
    border: 1px solid #a8a8a8;
    border-radius: 4px;
    height: 27px;
    min-width: 173px;
    background-color: #fff;
    box-sizing: border-box;
    float: right;
    font-size: 14px;
}
.carlist_select label span {
	float: left;
	font-size: 14px;
	margin-right: 6px;
}
.show-par-page {
	float: right;
	font-size: 14px;
}
ul.page-num li:hover {
	background: #51A4E6;
}
ul.page-num li.active  {
	background: #51A4E6;
    color: #FFF;
}
ul.page-num li.active a  {
    color: #FFF;
}
ul.page-num li a:hover {
	color: #FFF;
}
.sticky.is-sticky {
	position: fixed;
	left: 276px;
	right: 74px;
	top: 0px;
	z-index: 1000;
	border-bottom: 2px solid #51A4E6;
	background: #fff;
	padding-top: 10px;
}
.sticky.is-sticky ul.page-num {
	margin-bottom: 10px;
}

.pagi-footer {
	margin: 35px 0px 70px 0px;
}


/* end pagination*/

/*single product view*/

.car-list-view:hover {
	background: #FFEDDF;
}

.car-list-container{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
}

.car-list-table  {
	margin-bottom: 5px;
}
.car-list-table td  {
	padding: 0px;
    text-align: center;
}
.car-list-table th {
	padding: 5px;
	text-align: center;
}
.car-list-view {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    cursor: pointer;
}

#listbox .car_listitem_footer {
	padding-top: 6px;
}
.car_listitem_footer {
	font-size: 12px;
}
.car_listitem_footer > span.acc_list::after {
	content: "\00a0";
	display: inline-block;
	border-left: 1px solid #DCDCDC;
	margin: 2px 2px 2px 6px;
}
/*single product view*/



/************************************************************
*************************End category Page css******************************
*************************************************************/

/************************************************************
************************* Single Page css ******************************
*************************************************************/

/*recommend Area*/

.recommend-ul {
	width: 100%
}
ul.recommend-ul li.recommend-li:hover {
	background: #FFF;
}
.recommend-ul a img {
	width: 90%;
	height: 100%;
}

.car-name {
	text-align: center;
	margin-top: -24px;
	font-size: 16px;
	color: #0662ED;
	margin-bottom: 7px;
}
.recommend-li span.discount {
	padding-left: 46px;
	background: #FFC702;
	padding-right: 44px;
}


/* end recommend Area*/

/*STOCK Araea*/
/*
.stock-area ul {
	border-left: 5px solid #2aaae8;
	display: inline-block;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 12px;
	font-size: 12px;
	clear: both;
}
*/

.stock-area ul {
	float: left;
	border-left: 5px solid #4093D5;
	display: inline-block;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 12px;
	font-size: 12px;
    list-style: none;
}

.stock-in span {
	padding: 0px 11px;
}
.stock-in {
	width: 97px;
	background: #000;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
}
.stock-in img {
	height: 20px;
}
.stock-area ul li h4 {
	font-weight: 700;
    font-size: 18px;
}
.stock-area ul li p {
	line-height: 7px;
	margin-bottom: 4px;
	font-size: 14px;
}
/* end STOCK Araea*/

/*socail sheare*/
.share-post {
	clear: both;
	margin: -18px -1px 0px;
	background: #F7F7F7;
}
.flat-social li {
	width: auto !important;
}
.share-post li, .mini-share-post li {
	float: left;
    list-style: none;
}
.share-post .flat-social a {
	color: #FFF !important;
	text-decoration: none !important;
    font-size: 12px;
}
.flat-social a {
	padding: 5px 9px;
	color: #FFF;
	margin: 0 6px 2px 0;
	display: inline-block;
	line-height: 14px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.social-facebook {
	background: #39599f;
}
.social-twitter {
	background: #45b0e3;
}
.social-google-plus {
	background: #fa0101;
}
.social-email {
    background: #047909;
}
.fav {
	float: right;
	background: #ddd;
	padding: 5px;
	margin: 5px;
}
.fav a {
	color: #fff;
	text-transform: uppercase;
}
.fav a:hover {
    text-decoration: underline;
    transition: opacity .2s ease-out;
}
.fav a i {
	color: #EAC000;
	background: #fff;
	border-radius: 10px;
}

/* end socail sheare*/


/*carDetails*/

.carDetails h3 {
	background: #e0e0e0 !important;
	background: -moz-linear-gradient(top,#fcfcfc 0,#efefef 4%,#f5f5f5 50%,#e0e0e0 51%,#f8f8f8 100%) !important;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),color-stop(4%,#efefef),color-stop(50%,#f5f5f5),color-stop(51%,#e0e0e0),color-stop(100%,#f8f8f8)) !important;
	background: -webkit-linear-gradient(top,#fcfcfc 0,#efefef 4%,#f5f5f5 50%,#e0e0e0 51%,#f8f8f8 100%) !important;
	background: -o-linear-gradient(top,#fcfcfc 0,#efefef 4%,#f5f5f5 50%,#e0e0e0 51%,#f8f8f8 100%) !important;
	background: -ms-linear-gradient(top,#fcfcfc 0,#efefef 4%,#f5f5f5 50%,#e0e0e0 51%,#f8f8f8 100%) !important;
	background: linear-gradient(to bottom,#fcfcfc 0,#efefef 4%,#f5f5f5 50%,#e0e0e0 51%,#f8f8f8 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f8f8f8', GradientType=0 ) !important;
	border: 1px solid #999;
	margin: 15px 0 0 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0 0 20px !important;
	font-size: 17px !important;
	color: #666;
	line-height: 24px !important;
	font-weight: 700;
}
.carDetails table {
	margin-bottom: 10px;
	width: 100%;
	border-collapse: collapse;
	line-height: 1.1;
	font-size: 14px;
}
.carDetails table td, .carDetails table th{
	font-size: 1em;
	line-height: 1.2;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #D6D6D6;
}
.carDetails table th {
	padding: 5px 2px 4px;
	background-color: #F8F8F8;
	font-weight: 700;
}
.accesories td {
	padding: 4px 0 5px;
	font-size: 1em;
	line-height: 1.2;
	text-align: center;
	vertical-align: middle;
	background-color: #FCC;
	border-right: 2px solid #FFF;
	border-top: 2px solid #FFF;
	height: 20px;
}
.accesories td.back {
	color: #A7A7A7;
	background-color: #F3F3F3;
}
.carDetails-product-img {
	width: 175px;
    height: 130px;
}
.col-md-4.carDetails-col-4 {
	padding: 0px;
	margin: 0px;
}

/* end carDetails*/

/*single-search*/

.single-search-select {
	width: 378px;
}
.single-right-search-title {
	background: #3D3D3D;
	color: #fff;
	text-align: center;
	padding: 3px 80px 12px;
}
.single-right-search-title p {
	float: right;
	font-size: 20px;
	margin: 0px 88px 0px 0px;
	font-family: initial;
}
#single-year_f, #single-year_t {
	width: 178px;
}
.single-sale {
	width: 97.5%;
	background: #4093D5;
	color: #fff;
}

/*end single-search*/

#triangle-down {
	width: 0;
	height: 20px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 30px solid;
	margin-left: 90px;
	border-top-color: #add8e6;
    margin-bottom: 12px;
}

.contentRight table {
	margin-bottom: 20px;
	width: 100% !important;
	border-collapse: collapse;
	line-height: 1.5;
	font-size: 12px;
	border: 1px solid #959494;
}
.contentRight table.quote thead th {
	background-color: #08c103;
}
.contentRight table thead th {
	font-size: 17px;
	font-weight: 700;
	padding: 5px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: left;
	color: #fff;
}
.contentRight table tr {
	border-bottom: 1px solid #959494;
}
.contentRight table tbody td {
	padding: 5px 15px 5px 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	vertical-align: middle;
}
.contentRight table.quote input[type="text"] {
	padding: 5px;
	width: 100% !important;
	float: right;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
label {
	 margin-bottom: 0px; 
}
#btnQuote {
	font-size: 20px;
	text-align: left;
	line-height: 27px;
}
#btnQuote a {
	background: url(../images/icon/get-email.jpg) no-repeat;
}
#btnQuote a {
	display: block;
	width: 290px;
	height: 76px;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 1px 2px rgba(12,3,7,.35);
	margin: 0 auto 5px;
}
#reserveSubmit a {
	background: url(../images/icon/buy-now-button.png) no-repeat;
	text-align: center;
	padding-left: 20px;
}
#reserveSubmit a {
	display: block;
	width: 305px;
	height: 90px;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 1px 2px rgba(12,3,7,.35);
	margin: 0 auto 5px;
}

/************************************************************
************************* End Single Page css ******************************
*************************************************************/






/************************************************************
************************* Registration Page css ******************************
*************************************************************/



.progress_step_bar.clearfix ol {
    display: inline-block;
    width: 100%;
    padding: 0;
}
.progress_step_bar ol li.now_progress::after {
	border-color: transparent transparent transparent #F50F0F;
}

.progress_step_bar.clearfix ol li {
	display: inline-block;
	float: left;
	margin: 10px 0px;
}

.progress_step_bar ol li::after {
	border-width: 24px 0 24px 18px;
	border-color: transparent transparent transparent #fff;
	top: 0;
	right: -18px;
}
.progress_step_bar ol li::after, .progress_step_bar ol li::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid none solid solid;
	position: absolute;
}
.progress_step_bar ol li.now_progress::before {
	border-color: transparent transparent transparent #722426;
}

.progress_step_bar ol li::before {
	border-width: 25px 0 25px 19px;
	border-color: transparent transparent transparent #5a5a5a;
	top: -1px;
	right: -19px;
}
.progress_step_bar ol li.now_progress {
	color: #fff;
	border-color: #722426;
	background-color: #F50F0F;
}

.progress_step_bar ol li {
	position: relative;
	width: 25%;
	float: left;
	height: 50px;
	padding-top: 12px;
	text-align: center;
	box-sizing: border-box;
	background-color: #FFF;
	border: 1px solid #5a5a5a;
}
.progress_step_bar ol li h2 {
	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	margin-bottom: 1px;
}
.progress_step_bar ol li p {
	font-size: 13px;
	line-height: 1;
}
.progress_step_bar ol li:nth-last-of-type(4) {
	z-index: 7;
}
.progress_step_bar ol li:nth-last-of-type(3) {
	z-index: 5;
}
.progress_step_bar ol li:nth-last-of-type(2) {
	z-index: 3;
}
.progress_step_bar ol li:nth-last-of-type(1)::after, .progress_step_bar ol li:nth-last-of-type(1)::before {
	display: none;
}
.step-area .headLine01 {
	margin-bottom: 12px;
	color: #1d1d1d;
	font-size: 1.8em;
	font-weight: 400;
	background: #fefefe;
	background: -moz-linear-gradient(top,#fefefe 0,#fefefe 4%,#fcfcfc 5%,#f1f1f1 49%,#e1e1e1 50%,#f2f2f2 100%);
	background: -webkit-linear-gradient(top,#fefefe 0,#fefefe 4%,#fcfcfc 5%,#f1f1f1 49%,#e1e1e1 50%,#f2f2f2 100%);
	background: linear-gradient(to bottom,#fefefe 0,#fefefe 4%,#fcfcfc 5%,#f1f1f1 49%,#e1e1e1 50%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f2f2f2', GradientType=0 );
	border-left: 4px solid #626161;
	display: block;
}

.step-area .headLine01 span {
	border-width: 2px 1px 1px 0;
	border-style: solid;
	border-color: #d6d6d6 #b3b3b3 #b3b3b3 transparent;
	padding: 5px 31px 5px 25px;
	display: block;
}

/*form-area*/

.login-form input {
	margin-bottom: 42px;
}

.form-area {
	border: 10px solid #e6e6e6;
	padding: 25px;
	height: 450px;
	margin-bottom: 50px;
}
.step-one h3 {
	border-bottom: 1px solid #333;
	font-size: 20px;
    font-weight: 700;
}
.login {
	margin-bottom: 26px;
}

ul.regist_merit_list {
	margin: 0px;
	padding: 0px;
}

.step-one ul.regist_merit_list li, .submit li {
	list-style: none;
}

 ul.regist_merit_list li {
	background-image: url(../images/icon/green-check-mark1.png);
	background-repeat: no-repeat;
	background-position: -3px 5px;
	padding-left: 32px;
    padding-top: 12px;
    color: #088FFB;
    font-size: 14px;
}
.submit {
	text-align: center;
	margin-top: 25px;
    padding: 0px;
}
.submit button {
	min-width: 288px;
	background-color: #006DEF;
	font-size: 14px;
	padding: 11px 15px;
	line-height: 1.25;
	color: #fff;
	font-weight: 700;
	border: 0 #006DEF;
	cursor: pointer;
	outline-color: #006DEF;
	outline-offset: 4px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
}

 ul.submit .facebook_snsloginbtn a {
	background-color: #3E5898;
	border-color: #273860;
	background-position: 0 0;
}
.submit li a {
	-webkit-transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out;
}
 ul.submit .facebook_snsloginbtn a {
	background-color: #3E5898;
	border-color: #273860;
	background-position: 0 0;
}
 ul.submit li a {
	display: block;
	line-height: 38px;
	font-size: 24px;
	text-align: left;
	width: 173px;
	padding-left: 64px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	color: #fff;
	background-image: url(../images/icon/sns_login_btns.png);
	background-repeat: no-repeat;
	background-size: 46px 342px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: auto;
	text-decoration: none;
	-moz-box-shadow: 0 0 5px #fff inset;
	-webkit-box-shadow: 0 5px #fff inset;
	-ms-box-shadow: 0 0 5px #fff inset;
	-o-box-shadow: 0 0 5px #fff inset;
	box-shadow: 0 0 5px #fff inset;
}
.submit {
	text-align: center;
}

ul.submit .google_snsloginbtn a {
	background-color: #ea4335;
	border-color: #942a21;
	background-position: 0 -76px;
}

 ul.submit li a {
	display: block;
	line-height: 38px;
	font-size: 24px;
	text-align: left;
	width: 280px;
	padding-left: 64px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	color: #fff;
	background-image: url(../images/icon/sns_login_btns.png);
	background-repeat: no-repeat;
	background-size: 46px 342px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: auto;
	text-decoration: none;
	-moz-box-shadow: 0 0 5px #fff inset;
	-webkit-box-shadow: 0 5px #fff inset;
	-ms-box-shadow: 0 0 5px #fff inset;
	-o-box-shadow: 0 0 5px #fff inset;
	box-shadow: 0 0 5px #fff inset;
}
ul.submit .microsoft_snsloginbtn a {
	background-color: #0078d7;
	border-color: #004c88;
	background-position: 0 -152px;
}
.txtInner ul.submit li a {
	display: block;
	line-height: 38px;
	font-size: 24px;
	text-align: left;
	width: 173px;
	padding-left: 64px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	color: #fff;
	background-image: url(../images/icon/sns_login_btns.png);
	background-repeat: no-repeat;
	background-size: 46px 342px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: auto;
	text-decoration: none;
	-moz-box-shadow: 0 0 5px #fff inset;
	-webkit-box-shadow: 0 5px #fff inset;
	-ms-box-shadow: 0 0 5px #fff inset;
	-o-box-shadow: 0 0 5px #fff inset;
	box-shadow: 0 0 5px #fff inset;
}
.Login-With {
	margin-bottom: 27px;
    border-bottom: 1px solid #333;
    font-size: 20px;
    font-weight: 700;
}
.country ul {
	float: left !important;
	margin-top: 240px;
	margin-left: -327px;
	margin-right: 0;
	padding-left: 5px;
	width: 100%;
}

.main-registration-area th {
    padding: 5px 15px 5px 10px;
    text-align: left;
    vertical-align: bottom;
    color: #030303;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #DFDFDF;
    background-color: #FDF7CD;
    padding-left: 19px;
    
}
.main-registration-area th span {
	display: inline-block;
	max-width: 9px;
	margin-left: -9px;
	color: #ff0101;
	vertical-align: top;
	line-height: 1;
}

.main-registration-area td {
	padding: 5px 15px 5px 10px;
	text-align: left;
	vertical-align: bottom;
	color: #030303;
	font-weight: 400;
	border: 1px solid #DFDFDF;
    vertical-align: middle;
}

.main-registration-area td input[type="text"]:not(.size_ctl_auto), .main-registration-area td input[type="password"] {
	width: 386px;
}
.main-registration-area td label {
	display: inline-block;
	width: 190px;
	padding: 5px 0;
	vertical-align: bottom;
    font-size: 16px;
}
.country button, .main-registration-area td .phone {
	width: 386px;
    text-align: center;
}
.check_term_text {
	margin: 20px;
}
.flag-container ul {
	width: 386px;
}
/************************************************************
************************* End Registration Page css ******************************
*************************************************************/


